html {/*font-size: 62.5%;*/}
body { font-family: 'Source Serif Pro', serif;}
                                /*HEADER*/
.cabecera h1 {padding-top: 15px;
}
                                /*CARRUSEL*/
.d-block {height: 40rem; border-radius: 20px;
}

                                /*INFORMACION*/
#info {
    display: flex; flex-flow: column wrap; justify-content: center;  
    height: 28rem; width: 100%; padding: 35px 20px 0px 20px;
    background-color: rgb(171, 241, 114); text-align: center;
}
    .info__h3 {align-self: center;   
    margin: 0px 20px 35px 20px;
    }
    .info__h5 {align-self: center; 
    margin: 20px 0px 0px 0px;
    }

                                /*CONTACTO*/
#contacto {display: flex; flex-flow: row wrap;
    height: 28rem;
    background-color: rgb(247, 252, 243);               
}
    .col--cont {align-self: flex-start; 
        margin: 15px 0px;  

    }
    .col--mapa {
        height: 28rem; border: 0px; margin: 0px;
        align-self: flex-end;

    }
                                /*FOOTER*/
footer { 
    display: flex; flex-flow: column wrap; align-content: space-around; 
    height: 25rem; width: 100%; padding: 40px 0px 0px 0px;  margin: 0px; 
    background-color: rgb(171, 241, 114);
}
    .footer__titulo {
        text-align: center;
        margin-top: 0px; margin-bottom: 25px;
    }
    .footer__linea {
        align-self: center;
        width: 160px; height: 2px; margin-top: 40px; margin-bottom: 0px;
        background-color: black; 
    }
    .footer__cont {margin: 15px;
    }
    .footer__img {align-self: center;
        height: 120px; width: 120px; margin-top: 35px; margin-bottom: 0px;
        background-color: rgb(226, 211, 206);}

@media only screen and (max-width: 768px) { 
.info__h3 {
    font-size: 1.3rem;
}
.info__h5 {
    font-size: 1rem;
}

#contacto {
    height: 31rem;
}
    .col--cont {
        height: 12rem;
    }
    .col--mapa {
        height: 12rem; margin: 10px 0px; z-index: 3;
    }
footer {overflow: hidden;}
} 