body { font-family: 'Source Serif Pro', serif;}

                                /*NAVEGACION*/
nav {background-color: black; text-align: center;
}
    nav .nav-link{color: white; 
    }
                                /*CABECERA*/
h1 {padding: 7px 0px 7px 10px; 
}
.linea {height: 1px; width: 100%; margin: 0px;
    background-color: rgb(216, 213, 213);
}
                                /*PRODUCTO*/
.col-xl-12--block {display: flex; flex-flow: row ;
}
    p {margin: 15px 15px 10px 0px;
    }
    .d-block {align-self: flex-end;
        height: 450px; width: 450px; margin: 0px 0px 0px 0px;
    }

                                /*FOOTER*/
footer { 
    display: flex; flex-flow: column wrap; align-content: space-around; 
    height: 22rem; width: 100%; margin: 0px; padding: 40px 0px 0px 0px; 
    background-color: rgb(171, 241, 114);
}
    .footer__titulo {
        text-align: center;
        margin-top: 0px; margin-bottom: 22px;
    }
    .footer__linea {
        align-self: center;
        width: 160px; height: 2px; margin-top: 40px; margin-bottom: 0px;
        background-color: black; 
    }
    .footer__contacto { 
        text-align: center;
        margin: 15px;
    }
    .footer__img {
        align-self: center;
        height: 100px; width: 120px; margin-top: 30px; margin-bottom: 0px;
        background-color: rgb(226, 211, 206);
    }

@media only screen and (max-width: 768px) {
.col-xl-12--block {
    flex-direction: column-reverse;
}
    .d-block {
        align-self: start;
    }
.footer__titulo {
    margin-bottom: 15px;
    font-size: 1.3rem;
}    
.footer__img {
    height: 95px; width: 115px; margin-top: 26px; 
}
} 